@model Bibliotheke.Models.Books

@{
    ViewData["Title"] = "Create";
}

<h1>Create a Book</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title" class="control-label">Title</label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="author" class="control-label">Author</label>
                <input asp-for="author" class="form-control" />
                <span asp-validation-for="author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label">Description</label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="published" class="control-label">Published On</label>
                <input asp-for="published" class="form-control" />
                <span asp-validation-for="published" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label">Status</label>
                <select asp-for="status" class="form-control">
                    <option value="Available">Available</option>
                </select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> |
                <a class="btn btn-outline-primary" asp-action="Index">Back to Books</a>
            </div>
        </form>
    </div>
</div>

<style>
    .form-group{
        margin-top: 15px;
    }
</style>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
